@model TimeSheet.Web.Models.CustomerViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="col-md-12 formtitle">PROJECT DETAILS</div>

@using (Html.BeginForm("Edit", "Staff", FormMethod.Post, new { @class = "form-horizontal col-xs-12" }))
{
    // Left section of form
    <div class="col-xs-7">
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label col-xs-4" })
            <div class="col-xs-4">
                @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-xs-4" })
            <div class="col-xs-8">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        @*<div class="form-group">
            TODO: reference, not sure what it is
        </div>*@
    </div>

    // Right section of form
    <div class="col-xs-5">
        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-12">
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = "5" })
            </div>
        </div>
    </div>

    @*<div class="form-group">
            TODO: status drop down list
        </div>*@
}

